/* Hide the checkboxes */
input[type="checkbox"] {
  display: none;
}

/* Show text as bold when the checkbox is checked */
input[type="checkbox"]:checked + span {
  font-weight: bold;
  text-decoration: underline;
}