@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply p-2 px-8 text-white rounded-lg focus:outline-none;
  }
}

.link-container {
  @apply flex flex-col items-center justify-between w-full p-6 bg-white rounded-lg md:flex-row;
}

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Mobile Layout */
@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

.link-container p {
    @apply font-bold text-center text-veryDarkViolet md:text-left;
}

.link {
    @apply flex flex-col items-center justify-end flex-1 space-x-4 space-y-2 md:flex-row md:space-y-0;
}

.copy {
    @apply p-2 px-8 text-white rounded-lg focus:outline-none;
}

.odd {
    @apply bg-cyan hover:bg-lightCyan;
}

.even {
    @apply bg-darkViolet hover:bg-opacity-80;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}